name: Telegram signer

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

jobs:
  tgsigner:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/setup-python@v6
        with:
            python-version: '3.13'
            cache: 'pip'
      - name: Install tg-signer
        run: pip install -U tg-signer
      - name: Write task config file
        id: write_config
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'config.json'
          encodedString: ${{ secrets.TG_SINGER_TASK }}
      - name: Run tg-signer
        run: |
          tg-signer import --file "${{ steps.write_config.outputs.filePath}}/config.json" mytask
          tg-signer --session-string "${{ secrets.TG_SESSION_STRING }}" run-once mytask
      
      - name: Upload log file
        uses: actions/upload-artifact@v4
        with:
          name: logfile
          path: ./*.log
          retention-days: 1

